html, body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    color: coral;

}

html {
    position: relative;
    min-height: 100%;
}

body {
margin-bottom: 244px;
}

.page-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-height: 100px;
    background-color: azure;
    color: white;
}

.page-header .logo {

}

.page-header ul {
    
    margin-left: 250px;
    list-style: none;
    margin: 0;
}

.page-header li {
    display: inline-block;
    margin-right: 1em;
}

h1 {
    margin: 0 0 30px 0;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}

.marketing {
    width: 220px;
    height: 150px;
    background-color: red;
    color: yellow;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

main {
    display: block;
    background-color: whitesmoke;
}

.page-footer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    background-color: blue;
    color: yellow;
    font-size: 16px;
}

.page-footer::after {
    content: "";
    display: table;
    clear: both;
}

.page-footer img {
    display: block;
    height: 244px;
}